/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 32px;
    width: 100%;
}
*,*::after,*::before{
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
:root{
    --accent:#062e5b;
    --red-color:#ee636a;
    --section:#f6f9fe;
    --paragraph:#516172;
    --text:#191d34;
}
.upper-header{
    background-color: var(--accent);
    padding: 14px 50px;
}
.upper-header-text{
    font-size: 14px;
    color: white;
}
.email-info{
    margin-left: 75px;
}
address i{
    margin-right: 5px;
}
.email-info i{
margin-right: 5px;
}

.social-links a{
    font-size: 14px;
    color: white;
    margin-left: 24px;
}
.lower-header{
    padding: 30px 50px;
}
.links a{
    font-size: 16px;
    color: var(--accent);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 50px;
}
h4{
    font-size: 32px;
    font-weight: 800;
    color: var(--accent);
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:var(--red-color);
    display: inline-block;
}
.btn{
    padding: 17px 44px;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    border: 0;
    
}
.links .btn-primary{
    background-color: var(--red-color);
    color: white;
}

/* hero-section */
.hero{
    background: url("./assets/media/hero/h1_hero.jpg") 50% 50% no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.hero-content{
    padding-top: 200px;
    text-transform: uppercase;
    width: 56%;
}
.hero-content h6{
color: #ef787e;
font-size: 20px;
font-weight: 400;

}
.hero-content h1{
    font-size: 72px;
    font-weight: 900;
    color: #062d5b;
    line-height: 1.3;
}
.hero-content .btn-secondary{
    color: white;
    background-color: var(--red-color);
    display: inline-block;
}

/* section */
.section-content{
    background-color: var(--section);
    padding: 140px 0;
}
.flex-31{
    flex: 0 1 31%;
}
.flex-32{
    flex: 0 1 32%;
}
.flex-34{
    flex: 0 1 34%
}
.flexible-img{
    width: 100%;
}
h5{
    color: var(--text);
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
}
p{
    color: var(--paragraph);
    font-size: 16px;

}
h3{
    color: var(--text);
    font-size: 42px;
    font-weight: 700;
    padding: 10px 0;
}
.article-description{
    border: 4px solid var(--red-color);
    background-color: white;
    padding: 20px 30px;

}
.article-description p{
    line-height: 1.6;
    padding: 10px 0;
}
.flex-start{
    justify-content: flex-start;
}
.article-description .more{
    color:var(--text);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;

}
.stretch{
    align-items: stretch;
}
hr{
    border: 4px solid var(--red-color);
    width: 30%;
    display: inline-block;


}


/* services */
.section-services{
    padding: 140px 0;
    background-color: white;
}

.team-img{
    width: 100%;

}

.content-box{
    background-color: rgba(255, 255, 255,0.8) ;
    left: 50%;
    top: 17%;
    position: absolute;
    padding: 48px;
    padding-left: 74px;

}
.relative{
    position: relative;
}
.btn-tertiary{
    color: white;
    background-color: var(--red-color);
    display: inline-block;
}
.content-box h3{ 
font-size: 36px;
color: var(--text);
margin:20px 0;
}
.content-box p{
    line-height: 1.8;
    margin-bottom:50px ;
}

.section-services h2{
    font-size: 56px;
    color: var(--text);
    text-align: center;
    padding: 100px 0;
    font-weight: 700;
}

.article-services{
    background-color: #fcfdff;
    text-align: center;
    padding: 60px 50px;
}
.article-services .icon-pad{
    font-size: 60px;
    color:#000000
}
.article-services h5{
    color: #191d34;
    font-size: 24px;
    padding: 10px 0;
}
.btn-services .btn-quad{
    background-color: white;
    border: 2px solid var(--red-color);
    color: var(--red-color);
}
.btn-services{
text-align: center;
padding: 100px 0;
}
.flex-43{
    flex: 0 1 43%;
}
.btn-cases{
    margin-top: 60px;
}
.btn-cases .btn-five{
    background-color: white;
    border: 2px solid var(--red-color);
    color: var(--red-color);
}
.cases{
    margin-left: 100px;
    width: 70%;
}
.cases p{
    line-height: 1.8;
}
.img-container{
    height: 457px;
    background-size: contain;
    overflow:auto;
    margin-left: 50px;

}
.case-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-right: 20px;
}

/* bio */
.bio-section{
    padding: 200px 0;
}
.bio{
    text-align: center;
}
.bio p{
    width: 70%;
    font-size: 22px;
    color: var(--text);
    line-height: 1.8;
    margin-top: 16px;
    margin: 16px 160px;
}
.bio i{
    color: #f7ba44;
    margin:30px 4px;
}
.bio h6{
    font-size: 20px;
    color: #112f41;
    font-weight: 400;
}
.bio span{
    font-size: 16px;
    color: #7e7e7e;
}


/* news */
.news-section h1{
    font-size: 68px;
    font-weight: 700;
    margin-top: 160px;
    padding-bottom: 60px;
    color: var(--text);
    text-align: center;
}
.news-img{
width: 100%;
}
.margin-gap h5{
font-size: 20px;
font-weight: 500;
color:var( --text);
}
.margin-gap h6{
    font-size: 14px;
    color: var(--red-color);
    text-transform: capitalize;
    margin-top: 10px;
}
.margin-gap time{
    font-size: 16px;
    color: #aebccb;
}
.margin-gap{
    margin: 0 24px;
}

/* contacts */
.contact-section{
    background-color: #062d5b
}
.details{
    padding: 80px 0;
}
.details h2{
    font-size: 42px;
    color: white;
    font-weight: 700;
}
.details p{
    color: #f4f6f8;
    font-size: 16px;
    line-height: 1.8;
    margin-top: 16px;

}
.flex-35{
    flex: 0 1 35%;
}
.flex-60{
    flex: 0 1 60%;
}
.form{
    margin-left: 100px;
}
.form-control{
    display: block;
    width: 100%;
    background-color:transparent;
    font-size: 16px;
    border: 0;
    border: 2px solid #295684;
padding: 15px 11px;
border-radius: 8px;
margin-top: 16px;
margin-bottom: 10px;
color: #8ca3b8;
}
::placeholder{
    color: white;
}

.send{
    background-color: var(--red-color);
    color: white;
    margin-left: 10px;
}
.align-start{
    align-items: flex-start;
}
.flex-48{
    flex: 0 1 48%;
}
.flex-65{
    flex: 0 1 65%;
}

/* footer */
.footer{
    padding: 100px 0;
    background-color:#f8fafe;
}

.flex-22{
    flex: 0 1 22%;
}
.flex-26{
    flex: 0 1 26%;
}
.social-links-footer a{
    color: #222223;
    margin-right: 12px;
}
.flex-links{
    justify-content: flex-start;
}
.container-change{
    padding: 0 0;
}
.container-change h4{
    font-size: 46px;
    font-weight: 900;
    color: #062d5b;
}
.container-change p{
    margin: 40px 0;
}
.container-change h5{
    font-size: 24px;
    color: #06305f;
    font-weight: 400;
}
.common-links li{
    padding-bottom: 16px;
}
.common-links a{
    color: #868c98;
    text-decoration: none;
}
.address-footer{
    color: #868c98;
}
.container-change .hr-footer{
    border: 1px solid #d3e5fc;
    margin: 60px 0;
    width: 100%;
}
.small-footer{
    text-align: center;
}
small{
    color: #9a9a9b;
    font-size: 16px;
    font-weight: 300;
}
small span{
    color: #ee656c
}


/* About-Page  */
.about-hero-section{
    background: url("./assets/media/hero/about_hero.jpg") no-repeat ;
    height: 300px;
}
.about-hero-section h3{
    color: white;
}
.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-services-about{
    padding-top: 140px;
    background-color: white;
}

/* Services */
.services-hero-section{
    background: url("./assets/media/hero/services_hero.jpg") no-repeat ;
    height: 300px;
}
.services-hero-section h3{
color: white;
}
.overwrite-servicepage{
    padding-bottom: 0 0;
}
.bio-section-new{
    padding: 0 0;
    padding-bottom: 160px;
}
.bio-section-new  h1{
    margin: 0 0;
}

/* cases page */


.cases-hero-section{
    background: url("./assets/media/hero/cases_hero.jpg") no-repeat ;
    height: 300px;
}
.cases-hero-section h3{
    color: white;
}
.case-section{
    background-color: #f8fafe;
    padding: 150px 0;
}
.bg-img{
    
    height: 450px;
    background-size: cover;
    margin-bottom: 30px;
}
.bg-img1{
    background: url("./assets/media/cases/completed_case_1.png") no-repeat center ;
    background-size: cover;
}
.bg-img2{
    background: url("./assets/media/cases/completed_case_2.png") no-repeat center;
    background-size: cover;
}
.bg-img3{
    background: url("./assets/media/cases/completed_case_3.png") no-repeat center;
    background-size: cover;
}
.bg-img4{
    background: url("./assets/media/cases/completed_case_4.png") no-repeat center;
    background-size: cover;
}
.bg-img5{
    background: url("./assets/media/cases/completed_case_5.png") no-repeat center;
    background-size: cover;
}
.bg-img6{
    background: url("./assets/media/cases/completed_case_6.png") no-repeat center;
    background-size: cover;
}
.text-img{
    background-color: white;
    padding: 10px;
    position: absolute;
    width: 80%;
    bottom: 0;
    left:0;
}
.text-img h5{
    margin-bottom: 5px;
    color:#191d34
}
.text-img h6{
    color: #516172;
}
.wrap{
    flex-wrap: wrap;
}

/* Contact Page */

.contact-hero-section{
    background: url("./assets/media/hero/contact_hero.jpg") no-repeat ;
    height: 300px;
}
.contact-hero-section h3{
    color: white;
}
.contact-map-section{
    padding: 120px 0;
}
figure iframe{
    background: rgba(0, 0, 0, 0.8);
    height: 500px;
}
.form-control{
    display: block;
    width: 100%;
    background-color:transparent;
    font-size: 16px;
    border: 0;
    border: 2px solid #295684;
    padding: 15px 11px;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 10px;
    color: #8ca3b8;
}
.form-control-contact{
    margin-bottom: 80px;
}
.form-control-field{
    border: 1px solid #e5e6e9;
    color: #9c9c9c;
    border-radius: 0;
    margin-bottom: 20px;
}
.form-control-field ::placeholder{
    color: #9e9e9e;

}
.flex-65{
    flex: 0 1 65%;
}
.form-control-contact .send-contact{
    background-color: #ffffff;
    color: var(--red-color);
    border-radius: 0;
    letter-spacing: 2;
    border: 1px solid var(--red-color);
}

.icons-address{
    font-size: 32px;
    color: #abadb0;
    margin-right: 16px;
}
.extra-info{
    color: #abadb0;
}
.margin-bottom{
    margin-bottom: 30px;
}





